.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

svg{
  width:28px ;
  height:19px;
  margin-right: 5px;
  fill:#f0f0f0
}

.is-high-score {
  fill: #ffc657;
  animation: grow 0,35s ease-in-out;
  transform-origin:50% 50% ;
}

@keyframes grow {
  50% {transorm:scale(1.4) rotate(-3deg);}
}